*{
  margin: 0px;
  padding: 0px;
}


.mainHeading{
  color: darkorchid;
  background-color: #E6B9A6;
  text-align: center;
  font-size: 2rem;
  text-shadow: 10px 10px 10px black;
  box-shadow: 5px 5px 5px black;
  border: 10px solid #944E63;
  border-radius: 40px;
}

.poster{
  width: 30%;
  height: 250px;
  object-fit: fill;
  margin: 15px;
  border-radius: 30px;
}

.audio{
  display:block;
  flex-direction: row;
  align-items: start;
  justify-content: end; 
  margin: 5px;
  width: 100%;
}

.video{
  width: 33%;
  padding: 2%;
  border-radius: 50px;
}

.movie{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
}

.bodyBG{
  background-color: #F5F0CD;
}